Makefile
Makefile.archc
main.cpp
main.cpp.tmpl
*.o
*.x
*.a
powerpc.H
powerpc.cpp
powerpc.x
powerpc_arch.H
powerpc_arch.cpp
powerpc_arch_ref.H
powerpc_arch_ref.cpp
powerpc_bhv_macros.H
powerpc_isa.H
powerpc_isa.cpp.tmpl
powerpc_isa_init.cpp
powerpc_parms.H
powerpc_syscall.H
powerpc_syscall.H.tmpl
powerpc_ih_bhv_macros.H
powerpc_intr_handlers.H
powerpc_intr_handlers.cpp*


